---
import { formatInTimeZone } from "date-fns-tz";
import {
  getReservation,
  getBlog,
  type EntryTime,
} from "@/types/microcmsReservation";
const response = await getReservation();
const res = await getBlog();

const jstDate = formatInTimeZone(
  new Date(response.entryMonth),
  "Asia/Tokyo",
  "yyyy-MM-dd",
);

const ttl = res.title;
---

<p>
  {jstDate}
</p>

<p>{ttl}</p>
