---
import { getBlog, type EntryTime } from "../../types/microcmsReservation";
const res = await getBlog({ fields: ["title", "content", "image"] });
---

<div class="blog">
  {
    res.contents.map((item: any) => (
      <>
        <h4>{item.title}</h4>
        <div class="content">
          <p set:html={item.content} />
          <div class="image__wrapper">
            {item.image.map((i: any) => (
              <div class="img">
                <img src={i.url} alt="" />
              </div>
            ))}
          </div>
        </div>
      </>
    ))
  }
</div>

<style lang="scss">
  div.blog {
    padding: 40px;
    border-top: 2px solid var(--b);
    @media (max-width: 768px) {
      padding: 40px 20px;
    }
    h4 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    .image__wrapper {
      display: flex;
      gap: 10px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .img {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
</style>
