---
import { getBlog, type EntryTime } from "../../types/microcmsReservation";
const res = await getBlog();

const title = res.title;
const content = res.content;
const images = res.images;
---

<div class="blog">
  {
    (
      <>
        <h4>{title}</h4>
        <div class="content">
          <p set:html={content} class="content-txt" />
        </div>
        <div class="image__wrapper">
          {images.map((i: any) => (
            <div class="img">
              <img src={i.url} alt="" />
            </div>
          ))}
        </div>
      </>
    )
  }
</div>

<style lang="scss">
  div.blog {
    padding: 40px;
    border-top: 2px solid var(--b);
    @media (max-width: 768px) {
      padding: 40px 20px;
    }
    h4 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    .content {
      margin-bottom: 20px;
    }
    .image__wrapper {
      display: flex;
      gap: 10px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .img {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
</style>
