---
import { getBlog, type EntryTime } from "../../types/microcmsReservation";
const res = await getBlog({ fields: ["title", "content", "image"] });
---

<div class="blog">
  {
    res.contents.map((item: any) => (
      <>
        <h4>{item.title}</h4>
        <div class="content">
          <p set:html={item.content} />
          <div class="image__wrapper">
            {item.image.map((i) => (
              <div class="img">
                <img src={i.url} alt="" />
              </div>
            ))}
          </div>
        </div>
      </>
    ))
  }
</div>

<style lang="scss">
  div.blog {
    padding: 40px;
    border-top: 2px solid var(--b);
    h4 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    .image__wrapper {
      display: flex;
      gap: 10px;
      .img {
        width: 50%;
      }
    }
  }
</style>
